@page
@model HoldSportPage.Pages.Medlemmer.DeleteKundeModel
@{
}

<h1> Slet et Medlem </h1>

<form method="post">
    <div class="form-group>">
        <label>Medlemsnummer</label> : @Model.Kunde.KundeNummer<br />
        <br />
        <label>Navn</label> : @Model.Kunde.Navn<br />
        <br />
        <label>Medlem telefon</label>  : @Model.Kunde.Tlf<br />
        <br />
       



        <input type="submit" value="Slet Kunde" class="btn btn-danger" asp-page-handler="Delete" asp-route-nummer="@Model.Kunde.KundeNummer" />

        <input type="submit" value="Fortryd" class="btn btn-warning" asp-page-handler="Cancel" />
    </div>
</form>
